@media (max-width: 992px) {
    .hero {
        min-height: 75vh;
        padding: 80px 20px 100px;
    }

    .hero h1 {
        font-size: 34px;
    }

    .hero h2 {
        font-size: 38px;
    }

    .hero p {
        font-size: 16px;
    }

    .hero-search {
        flex-direction: column;
    }

    .hero-search input,
    .hero-search button {
        width: 100%;
    }
}
